* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bgContainer {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #2b2c49, #ffffff);
  padding: 50px;
  border-radius: 8px;

  width: 400px;
  height: 350px;
}
